@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300&display=swap');

header {
    background-color: #fdb321;
    color: #5d008f;
    border: #e2dada solid 8px;
    padding: 25px 25x;
    margin-top: auto;
    height: 100px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    font-family: roboto condensed, 'Courier New', monospace;
    justify-content:left;
    align-items: center;
}
header a {
    padding-right: 20px;
}
.social img {
    width: 40px;
    padding: 10px;
    margin-left: 10px;
}
.social {
    align-items: center;
}
.logo {
    width: 80px;
    border: #5d008f solid 5px;
    align-items: center;
    margin-left: 10px;
}
nav {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left:auto;
}



/*-------------------------------------------------------------*/
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 80px;
    margin-top: -320px;
    color: white;
    margin-left: 20px;
}
#hero-img {
    width: 100%;
    grid-row: 2/3;
    z-index: -1;
    
}
#hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 20px;
    color: #5d008f;
    text-shadow: #fdb321 2px 2px 10px;
    font-family: 'bebas neue', 'Courier New', monospace;
    font-size: 20px;
}
#myphoto {
    width: 150px;
    border-radius: 50%;
    margin-left: 25%;
}
.personalinfo {
    text-align: right;
}






/*-------------------------------------------------------------*/
footer {
    font-family: roboto condensed, 'Courier New', monospace;
    background-color: #5d008f;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
footer a {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.topics {
    font-family: 'bebas neue', 'Courier New', monospace;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.info1 {
    font-family: roboto condensed, 'Courier New', monospace;
    font-size: 18px;
    font-weight: normal;
    width: 250px;
    padding: 0;
    margin: 0;
}
.info2 {
    font-family: roboto condensed, 'Courier New', monospace;
    font-size: 18px;
    font-weight: normal;
    width: 250px;
    padding: 0;
    margin: 0;
}
.info3 {
    font-family: roboto condensed, 'Courier New', monospace;
    font-size: 18px;
    font-weight: normal;
    width: 250px;
    padding: 0;
    margin: 0;
}
.the3topics {
    color: #5d008f;
}
p {
    font-family: roboto condensed, 'Courier New', monospace;
}
.little-readmore {
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    padding-top: 0;
    color: black;
    font-family: roboto condensed, 'Courier New', monospace;
}





/*--------------------------------------------------------------------*/
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    header {
        height: auto;
    }
    nav, footer, {
        flex-direction: column;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    .personalinfo {
        display: none;
    }
    .topics { 
        flex-direction: column;
        align-items: center;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 2px;
    }
}