@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300&display=swap');

header {
    background-color: #fdb321;
    color: #5d008f;
    border: #e2dada solid 8px;
    padding: 25px 25x;
    margin-top: auto;
    height: 100px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    font-family: 'roboto condensed', 'Courier New', monospace;
    justify-content:left;
    align-items: center;
}
header a {
    padding: 10px 10px;
    text-decoration: none;
}    
.social img {
    width: 40px;
    padding: 5px;
    margin-left: 5px;
}
.logo {
    width: 100px;
    border: #5d008f solid 5px;
    z-index: 1;
}
nav {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
}
.button:hover {
    background-color: #5d008f;
    color: #fdb321;
}
.footer-button:hover {
    background-color: #fdb321;
    color: #5d008f;
}



/*-------------------------------------------------------------*/
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 80px;
    margin-top: -320px;
    color: white;
    margin-left: 20px;
}
#hero-img {
    width: 100%;
    grid-row: 2/3;
    z-index: -1;
    
}
#hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 20px;
    color: #5d008f;
    text-shadow: #fdb321 2px 2px 10px;
    font-family: 'bebas neue', 'Courier New', monospace;
    font-size: 20px;
}
#myphoto {
    width: 150px;
    border-radius: 50%;
    margin-left: 25%;
}
.personalinfo {
    text-align: right;
}
section .personalinfo p {
    grid-column: 2/3;
    grid-row: 1/2;
}







/*-------------------------------------------------------------*/
footer {
    font-family: 'roboto condensed', 'Courier New', monospace;
    background-color: #5d008f;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
footer a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}
.topics {
    font-family: 'bebas neue', 'Courier New', monospace;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.info1 {
    font-family: 'roboto condensed', 'Courier New', monospace;
    font-size: 18px;
    font-weight: normal;
    width: 250px;
    padding: 0;
    margin: 0;
    box-shadow: 5px 5px 5px #fdb321;
}
.info2 {
    font-family: 'roboto condensed', 'Courier New', monospace;
    font-size: 18px;
    font-weight: normal;
    width: 250px;
    padding: 0;
    margin: 0;
    box-shadow: 5px 5px 5px #fdb321;
}
.info3 {
    font-family: 'roboto condensed', 'Courier New', monospace;
    font-size: 18px;
    font-weight: normal;
    width: 250px;
    padding: 0;
    margin: 0;
    box-shadow: 5px 5px 5px #fdb321;
}
.the3topics {
    color: #5d008f;
    transform: scale(1.1);
}
h2 {
    font-family: 'roboto condensed', 'Courier New', monospace;
}
p {
    font-family: 'roboto condensed', 'Courier New', monospace;
}
.little-readmore {
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    padding-top: 0;
    color: black;
    font-family: 'roboto condensed', 'Courier New', monospace;
}

#aboutme-grid {
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-rows: 30px 1fr 1fr 1fr 20px;
    display: grid;
    justify-items: center;
    border: #fdb321 solid 5px;
    column-gap: 10px;
}
.aboutmeblock1 {
    grid-column: 3/4;
    grid-row: 2/3;
}
.aboutmeblock2 {
    grid-column: 2/3;
    grid-row: 3/4;
}
.aboutmeblock3 {
    grid-column: 3/4;
    grid-row: 4/5;
}
#aboutme-p {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: x-large;
}
.aboutmep2 {
    grid-column: 3/4;
    grid-row: 3/4;
    font-size: x-large;
}
.aboutmep3 {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: x-large;
}
#aboutme-image1,#aboutme-image2,#aboutme-image3,#aboutme-image4 {
    width: 600px;
}


/*--------------------------------------------------------------------*/
.hobbiesimages {
    width: 500px;
}
.hobbies-grid {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-rows: 20px 1fr 1fr 1fr 1fr 20px;
    justify-items: center;
    border: #fdb321 solid 5px;
    column-gap: 10px;
}
.campingblock1 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.campingblock2 {
    grid-column: 3/4;
    grid-row: 3/4;
}
.handcraftblock1 {
    grid-column: 2/3;
    grid-row: 4/5;
}
.handcraftblock2 {
    grid-column: 3/4;
    grid-row: 5/6;
}
.hobbiesp1 {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: x-large;
}
.hobbiesp2 {
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: x-large;
}
.hobbiesp3 {
    grid-column: 2/3;
    grid-row: 5/6;
    font-size: x-large;
}

/*--------------------------------------------------------------------*/
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    header {
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    .personalinfo {
        display: none;
    }
    .topics { 
        flex-direction: column;
        align-items: center;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 2px;
    }
}